import discord
from discord.ext import commands
from discord.ext.commands import Bot
import asyncio
import json
import requests
import re
import random
import time
import math
import time
import sqlite3
import os
import datetime
from discord import Game
from discord import Activity, ActivityType
from discord.utils import get
from bs4 import BeautifulSoup
from discord import Webhook, AsyncWebhookAdapter
import aiohttp
import pyowm
import wikipedia